.uno{
    background-color: #E2E2E2 ;
    height: 100px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.dos{
    background-color: #FFF0AC
        ;
    height: 100px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.tres{
    
        ;
    height: 170px;
    width: 100%;
display: flex;
    justify-content: center;
    align-items: center;
}
.six{
    background-color:  #D1EAFF
        ;
    height: 100px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}